<div class="card" style="width: 18rem;">
    <div class="card-body">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <label for="exampleFormControlInput1" class="form-label">Categoria</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Categoria">
        <label for="exampleFormControlInput1" class="form-label">Año de publicacion</label>
        <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
        <label for="exampleFormControlInput1" class="form-label">Autor</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Autor">
    </div>
  </div>